@import "tailwindcss";

@theme {
  --color-gym-dark: #111111;
  --color-gym-yellow: #FACC15;
  --color-gym-gray: #F4F5F7;
}

body {
  background-color: var(--color-gym-gray);
}

/* Ocultar barra de desplazamiento visualmente pero mantener la función */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}